body{background-color:blanchedalmond;}
div{background-color: hsl(271, 66%, 34%)}
h1{color: white;}
a{color: white;}
.text-black{color: black;   
}
.text-div{background-color: white;}
.text-a{color: rgb(44, 33, 202);}